---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.

import Layout from "../../layouts/layout.astro";
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->

<Layout>
    <article>
        <h1>Our Privacy Policy</h1>
        <p>Very important!</p>
    </article>
</Layout>